div.form {
	margin: auto;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 1%;
	text-align: center;
	width: 30%
}

div.label {
	text-align: left;
	padding-top: 10px;
}

div.about {
	  width: 50%;
	  margin: auto;
}

header {
    padding-left: 1em;
    color: black;
    background-color: white;
    clear: left;
    text-align: left;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #333333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
	font-size: 150%;
    text-decoration: none
}

li a:hover {
    background-color: #111111;
}

input[type=text], input[type=password], select {
    width: 90%;
    border: none;
    border-bottom: 1px solid black;
    box-sizing: border-box;
	background-color: #f2f2f2;
	padding-top: 10px;
	outline: none;
}

input[type=submit] {
    width: 50%;
    background-color: #991f00;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #4D0F00;
}

footer {
    padding: 1em;
    color: black;
    background-color: white;
	text-align: center;
    clear: left;
	display: block;
}